#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.main-container {
  display: flex;
  justify-content: space-between;
}

.form-section {
  max-width: 50%;
  display: flex;
  flex-direction: column;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.6rem;
}

.book-list {
  max-width: 50%;
  
}

li {
  list-style-type: none
}
